```text
Django==6.0.6
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1

django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.5
django-browser-reload==1.21.0
django-session-timeout==0.1.0
django-storages==1.11.1
django-tailwind==4.3.1

gTTS==2.5.4
requests==2.32.3

gunicorn==25.3.0
whitenoise==6.12.0

boto3==1.17.36
botocore==1.20.36
s3transfer==0.3.6

Pillow==11.1.0
qrcode==8.0
python-decouple==3.4

numpy==2.2.3
pandas==2.2.3

fpdf==1.7.2
pyjokes==0.7.2

sqlparse==0.5.5
tzdata==2025.1
python-dateutil==2.8.1
packaging==25.0
six==1.15.0
urllib3==1.26.3
certifi==2020.12.5
charset-normalizer==3.4.4
idna==2.10
jmespath==0.10.0
```
